
.background{
    background-color: hsla(229, 31%, 14%, 0.176);
}

.newFeatureCard {
    box-shadow: 2px 4px 9px 1px hsla(0, 0%, 0%, 0.05);
}

.feature-4-bg{
    background: 100% 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.companiesList{
    animation: 10s infinite linear moveCompany;
}

@keyframes moveCompany {
    0%{
        top: 0;
    }
    100%{
        top:-50%;
    }
}

.sub-margin{
    margin-top: 0;
}

/* BG IMAGE FOR FEATURE SECTION 1 */
.bg-section1{
    background: url(./img/feature-section-2BG.svg);
    /* bg-[url(/img/feature-section-2BG.svg)] */
}

/* BG IMAGE FOR FEATURE SECTION 4 */
.bg-section4{
    background: url(./img/core-features-sectionBg.svg);
    /* bg-[url(/img/core-features-sectionBg.svg)] */
}

/* BG IMAGE FOR BUSINESS SECTION */
.bg-business-section{
    background: url(./img/CTABg.svg);
    /* bg-[url(/img/CTABg.svg)] */
}

/* card-1 */
.bg-card1{
    background-image: url(./img/decoration/instant-settlement-bg.svg);
    /* bg-[url(/img/decoration/instant-settlement-bg.svg)] */
}

.bg-card1Hover:hover{
    background-image: url(./img/hover/instant-settlement-bghover.svg);
    /* bg-[url(/img/hover/instant-settlement-bghover.svg)] */
}

/* card-2 */
.bg-card2{
    background-image: url(./img/decoration/upi-autopay-bg.svg);
    /* bg-[url(/img/decoration/upi-autopay-bg.svg)] */
}

.bg-card2Hover:hover{
    background-image: url(./img/hover/upi-autopay-hoverbg.svg);
    /* bg-[url(/img/hover/upi-autopay-hoverbg.svg)] */
}

/* card-3 */
.bg-card3{
    background-image: url(./img/decoration/magic-checkout-bg.svg);
    /* bg-[url(/img/decoration/magic-checkout-bg.svg)]  */
}

.bg-card3Hover:hover{
    background-image: url(./img/hover/magic-checkout-hoverbg.svg);
    /* bg-[url(/img/hover/magic-checkout-hoverbg.svg)] */
}

/* card-4 */
.bg-card4{
    background-image: url(./img/decoration/payment-button-bg.svg);
    /* bg-[url(/img/decoration/payment-button-bg.svg)] */
}

.bg-card4Hover:hover{
    background-image: url(./img/hover/payment-button-hoverbg.svg);
    /* bg-[url(/img/hover/payment-button-hoverbg.svg)] */
}

/* card-5 */
.bg-card5{
    background-image: url(./img/decoration/instant-settlement-bg.svg);
    /* bg-[url(/img/decoration/instant-settlement-bg.svg)] */
}

.bg-card5Hover:hover{
    background-image: url(./img/hover/instant-settlement-bghover.svg);
    /* bg-[url(/img/hover/instant-settlement-bghover.svg)] */
}
